apiai==1.2.3
attrs==18.2.0
Automat==0.7.0
Beaker==1.10.0
beautifulsoup4==4.6.0
bottle==0.12.13
certifi==2017.11.5
chardet==3.0.4
constantly==15.1.0
defusedxml==0.5.0
Django==2.1.4
django-admin-bootstrapped==2.5.7
emit==0.4.0
get==1.0.3
google-api-python-client==1.6.4
googletrans==2.2.0
httplib2==0.9
hyperlink==18.0.0
idna==2.6
imgkit==1.0.1
incremental==17.5.0
lxml==4.1.1
nltk==3.4
numpy==1.15.0
oauth2client==4.1.2
oauthlib==2.0.6
Pillow==5.2.0
post==1.0.2
profiler==0.1.0
psycopg2==2.7
public==1.0.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyHamcrest==1.9.0
PyJWT==2.4.0
python-social-auth==0.2.21
python3-openid==3.1.0
pytz==2018.5
query-string==1.0.2
request==1.0.2
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
singledispatch==3.4.0.3
six==1.11.0
sorl-thumbnail==12.3
Twisted==18.9.0
uritemplate==3.0.0
urllib3==1.22
whitenoise==3.3.1
zope.interface==4.6.0
